* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

#main {
  width: 100%;
  height: 100%;
  display: flex;
}

#left {
  width: 16%;
  height: 100%;
  background-color: #1992d4;
}

#right {
  width: 84%;
  height: 100%;
  background-color: #f5f5f5;
}

.top {
  color: white;
  padding: 16px;
  display: flex;
  align-items: center;
  column-gap: 10px;
  height: 30px;
  font-size: 20px;
  font-weight: 500;
}

.top i {
  font-size: 25px;
}

.center-content {
  padding-left: 20px;
  padding-top: 20px;
  color: white;
}

.icon-list {
  display: flex;
  column-gap: 15px;
  font-size: 16px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.bottom-content {
  padding-left: 20px;
  padding-top: 20px;
  color: white;
}

.right-top {
  height: 20vh;
  width: 100%;
  background-color: white;
}

.right-bottom {
  width: 100%;
  height: 80vh;
  background-color: #e2e8f0;
  display: flex;
}

.first {
  height: 8vh;
  width: 100%;
  display: flex;
  padding-left: 50px;
  align-items: center;
  column-gap: 30px;
}

.topright {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 150px;
  column-gap: 25px;
}

input {
  width: 100%;
  background-color: #e2e8f0;
  border: none;
  border-radius: 18px;
  height: 32px;
}

.first i {
  padding-left: 20px;
}

.topright p {
  font-weight: 500;
}

.topright i {
  font-size: 20px;
}

.second {
  height: 12vh;
  width: 100%;
  display: flex;
}

.second-left {
  width: 50%;
  height: 12vh;
  display: flex;
  align-items: center;
}

.second-right {
  width: 50%;
  height: 12vh;
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 150px;
  column-gap: 30px;
}

.lfirst {
  width: 100%;
  height: 12vh;
  padding: 15px;
  display: flex;
  column-gap: 30px;
}

.lfirst img {
  width: 60px;
  height: 60px;
  margin-left: 40px;
  border-radius: 50px;
}

.lfirst-text {
  width: 100%;
  display: inline;
  margin-top: 12px;
}

.lfirst-text h3 {
  font-size: 18px;
}

.second-right button {
  background-color: #1992d4;
  border: none;
  font-size: 18px;
  border-radius: 25px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

.rbleft {
  width: 70%;
  height: 100%;
  padding-left: 15px;
  padding-top: 15px;
}
.rbright {
  width: 30%;
  height: 100%;
  padding-top: 15px;
  padding-left: 15px;
}

.projects {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 15px;
  column-gap: 15px;
}

.project-card {
  background-color: white;
  padding: 12px;
  border-radius: 12px;
  border-left: 8px solid #f0b429;
}

.info {
  padding-right: 40px;
  padding-top: 20px;
}

.info-head {
  font-size: 16px;
  font-weight: 600;
}

.info-content {
  color: #646464;
  font-size: 14px;
}

.info-icons {
  display: flex;
  justify-content: end;
  margin-top: 15px;
  margin-right: 20px;
  margin-bottom: 10px;
  column-gap: 20px;
}

.infocard {
  width: 90%;
  background-color: white;
  height: 32vh;
  margin-right: 30px;
  margin-top: 10px;
  border-radius: 12px;
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 13px;
}

.infocard p {
  font-size: 13px;
}

.infocard h5 {
  font-size: 14px;
}

.feature {
  padding-bottom: 5px;
  border-bottom: 0.5px solid #433f3f2f;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 5px;
}

.feature1 {
  margin-left: 15px;
  margin-right: 15px;
}

.trending {
  margin-top: 10px;
}
.profiles {
  background-color: white;
  width: 90%;
  height: 31vh;
  margin-top: 10px;
  border-radius: 12px;
}

.profile-section {
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 3px;
  font-size: 13px;
}

.profileimage {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background-image: url("profilepic.webp");
  background-size: cover;
  background-position: center;
  margin-right: 20px;
  margin-left: 15px;
}
